* {
  margin: 0;
  padding: 0;
  font-size: 13.5px;
}

body {
  background-image: linear-gradient(#a498e0, #ffffff, #a498e0);
  background-size: contain;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#title {
  color: rgb(44, 44, 44);
  font-size: 62px;
  font-weight: 800;
  margin: 0 0 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#question_number_box {
  background-color: #8ae2f3;
  text-align: center;
  border: 1px dashed #000;
  border-radius: 50% / 100% 100% 0 0;
  border-bottom: 0;
  padding-top: 5px;
}

#question_box {
  display: flex;
  padding: 10px;
  padding-top: 0px;
  border-top: 0 !important;
  border: 1px dashed #14213d;
  background-color: #8ae2f3;
  color: #370617;
  text-align: center;
  font-weight: 500;
  justify-content: center;
}

#option_box {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  cursor: pointer;
}

.option-class {
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #e5e5e5;
  color: #000;
  border: 1.5px solid #73a9fc;
  border-radius: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: bolder;
}

.option-class:hover {
  background-color: #73a9fc;
}

.note {
  text-align: center;
  padding: 4px;
}

.btn_section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.btn_section button {
  width: 50%;
  box-sizing: border-box;
}

#answer_teller_right {
  color: rgb(44, 170, 44);
}

#check_answer {
  background-color: #0077b6;
  color: #fff;
  border-radius: 0;
  border: 0;
}

#check_answer:hover {
  background-color: #0096c7;
  border-radius: 0;
}

#clear_response {
  background-color: #5dc9dc;
  border-radius: 0;
  border: 0;
}

#clear_response:hover {
  background-color: #8ae0f1;
}

#next_question {
  background-color: #03045e;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  width: 100%;
}

#next_question:hover {
  background-color: #023e8a;
}

#answer_teller_right {
  text-align: center;
  padding-top: 5px;
}

#answer_teller_wrong {
  color: red;
  text-align: center;
}

td {
  padding: 0 !important;
}

.percentage {
  padding: 5px 0;
}

.github-section {
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.github-section a {
  text-decoration: none;
  color: #000;
}

.github-section:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.github-section img {
  width: 35px;
  height: 30px;
}
