@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* CSS VARIABLES DECLARARTIONS */
:root {
  --color-bg: #58589b;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-widtSh-sm: 90%;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* DISABLING SCROLL BAR */
::-webkit::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  height: 100vh;
}

/* GENERAL DECLARATIONS */
.container {
  display: flex;
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}

.title {
  text-align: center;
}

.question-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #4db5ff;
  padding: 0.1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.question-area #question_number_box {
  color: var(--color-bg-variant);
}

.note {
  width: 100%;
  text-align: center;
  margin-bottom: 0.4rem;
}

#option_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#option_box label {
  margin: 0 !important;
}

.option-class {
  color: #000 !important;
  border: 1.5px solid #73a9fc;
  border-radius: 0;
  box-sizing: border-box;
  margin: 5px;
  background-color: var(--color-light);
}

.btn_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.btn_section #check_answer {
  width: 49.5%;
  margin-right: 0.25%;
}

.btn_section #clear_response {
  width: 49.5%;
  margin-left: 0.25%;
}

.btn_section #next_question {
  width: 100%;
  margin-top: 0.5rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn-secondary {
  background-color: #5393f4;
  color: var(--color-white);
}

#score_board {
  border-radius: 1rem;
  border: 1px solid #fff;
  width: 100%;
}

td {
  text-align: center;
  padding: 0.5rem 2rem;
}

.c-a {
  color: yellowgreen;
}

.w-a {
  color: rgb(255, 90, 123);
}

#right_score {
  background-color: yellowgreen;
  font-size: 1.5rem;
  color: #000;
}
#wrong_score {
  background-color: rgb(255, 90, 123);
  font-size: 1.5rem;
  color: #000;
}
#answer_teller_right {
  text-align: center;
  color: yellowgreen;
  margin: 1rem;
}
#answer_teller_wrong {
  color: rgb(255, 90, 123);
  text-align: center;
}
#percentage_score {
  font-size: 2rem;
  color: #82c5f5;
}

.quote {
  padding: 1.5rem;
  text-align: center;
}
/* MEDIA QUERIES FOR MEDIUM DEVICES(LIKE TABLETS) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MEDIA QUERIES FOR SMALLER DEVICES */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
